# Variabili d'ambiente per Trento Bike Parking
# Copia questo file in .env

# --- Google OAuth 2.0 ---
# Già configurato per funzionare in locale su http://localhost:3000
GOOGLE_CLIENT_ID=455956234516-62c55ghdcsl2tffohcancm7is467jgda.apps.googleusercontent.com

# --- JWT ---
# Stringa usata per firmare i token di sicurezza
SUPER_SECRET=segreto_universitario_trento_bike_parking

# --- Server ---
PORT=3000
